.asidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-image: linear-gradient(
    to bottom,
    #052237,
    #2f515c,
    #678381,
    #a7b6ac,
    #e9ebe3
  );
  height: 100vh;
  top: 0;
  left: 0;
  width: 250px;
  border-right: solid 1px;

  li {
    color: white;
    font-family: "Alumni Sans Pinstripe", sans-serif;
  }

  p {
    font-weight: bolder;
    color: white;
  }
}

.menu a span:first-child {
  display: inline-block;
  padding: 10px;
}

.menu a {
  display: block;
  position: relative;
  overflow: hidden;
  color: white;
}

.menu a span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}
.menu a span {
  transition: transform 0.2s ease-out;
}
.menu a:hover span:first-child {
  transform: translateY(100%);
}
.menu a:hover span:last-child {
  transform: none;
}

ul {
  font-size: 26px;
  list-style: none;
}
