<div class="product-card">
    <ul>
        @for (product of products; track product.id_product)
             {
                <li class="card">
                    <img [src]="product.img" alt="">
                    <h3>{{product.name}}</h3>
                    <p>{{product.description}}</p>
                    <div class="content-button">
                        <p>{{product.price}}</p>
                        <button>Anadir a carrito</button>
                    </div>
                </li>

             }
    </ul>
</div>